
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>These tools are designed to aid in the analysis of customized TALE transcription factors and TALE nucleases. All tools are designed to supplement the TALE construction protocol described in Sanjana et al., Nature Protocols 2011. For further information on the TALE assmebly protocol, as well as information on monomer and backbone sequences, please consult the paper. All plasmids needed for construction can be obtained through <a href="http://www.taleffectors.com">www.taleffectors.com</a> or <a href="www.addgene.org/TALE_Toolbox">Addgene.</a></p>
      <p>The sequence generator tool is designed to assemble the reference sequence for a customized TALE. The modular nature of TALE construction results in highly repetitive sequence bound together by variable linker regions. Reference sequences can be generated either as the open reading frame of the TALE construct, with results displayed in the window, or as a download of a fully annotated Genbank map of the vector.</p>
      <p>For further questions or to report problems, please contact <a href="mailto:taleffectors@mit.edu">taleffectors@mit.edu</a>.</p>
    </div>
</div>
{% endblock %}

