
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>TALE Sequence Generator</h1>

  <p>Generate TALE sequences based on a custom target site.</p>
  <ul>
    <li>Target sites typically begin with a thymine and consist of 2-26 DNA bases, e.g. "TAGAGACTAGAC"</li>
    <li>Binding domains can be inserted into a TALE-TF (VP64 activation domain) or TALEN (Fok1 nuclease) backbone.</li>
    <li>Generated ORF sequences can be used as the reference sequence for sequence alignment to confirm correct construction of custom TALEs.</li>
  </ul>
  <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2><i class="fa fa-code"></i> Target Sequence</h2>
      <div class="input-group">
        <div class="input-group-btn" id="select-g-monomer">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NN <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Select G Monomer</li>
            <li><a href="#">NN</a></li>
            <li><a href="#">NH</a></li>
          </ul>
        </div><!-- /btn-group -->
        <input type="text" class="form-control" aria-label="...">
      </div><!-- /input-group -->
    </div>
    <div class="col-md-3 col-sm-6">
      <h2><i class="fa fa-flask"></i> Backbone</h2>
      <div id="TALE-type" class="btn-group" data-toggle="buttons">
        <a href="#TALEN" class="btn btn-default active" data-toggle="TALE-type">
          <input type="radio">TALEN</a>
        <a href="#TALE-TF" class="btn btn-default" data-toggle="TALE-type">
          <input type="radio">TALE-TF</a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <h2><i class="fa fa-edit"></i> Generate</h2>
      <p><button type="button" class="btn btn-primary">Download GB Vector Map</button></p>
    </div>
  </div><!-- /.row -->
{% endblock %}

